.App {
    text-align: center;
    background-color: white;
    min-height: 100vh;
    font-family: 'Epilogue', sans-serif;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
.form{
    width: 600px;
}
input{
         display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
         border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        margin-bottom: 5px;
}
select{
    display: block;
   width: 100%;
   padding: .375rem .75rem;
   font-size: 1rem;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
    border-radius: .25rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   margin-bottom: 5px;
}
textarea{
    display: block;
   width: 100%;
   padding: .375rem .75rem;
   font-size: 1rem;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
    border-radius: .25rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   margin-bottom: 5px;
}
.m-inp-div{
    margin-top: 10px;
    margin-bottom: 35px;
}

.food-img-height {
    max-height: 150px;
    object-fit: cover;
}
.upload-icon {
    max-width: 50px;
}
.price-input{
    display:inline;
    max-width: 200px;
}
.input-width{
    min-width: 300px;
    width: auto;
}
.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.6;
  }
.flex-1{
    flex: 1;
}
.m-t-10{
    margin-top: 10px;
}
.m-2{
    margin: 2px;
}
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(26, 26, 26);
    -webkit-box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
-moz-box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
.App-header {
    background-color: #e4e4e4a1;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

li {
    margin: 10px 10px;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    min-height: 60px;
    border: 2px dashed #4aa1f3;
}



.drop-message {
    text-align: center;
    color: #4aa1f3;
    font-family: Arial;
    font-size: 20px;
}

.Nav-el {
    color: rgb(182, 182, 182);
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 400;
}

.Nav-el.active {
    color: gray;
}

.Nav-el:hover {
    color: gray;
}

.Card-Menu {
    max-width: 18rem;
    min-width: 18rem;
    margin: 20px;
}

.Card-Cart {
    margin: 20px;
}

.Card {
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}
.search {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 26px;
    opacity: 1;
    min-width: 100%;
    justify-content: start;
    text-align: left;
    padding: 5px 8px;
    align-self: center;
    
  }
.Card:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}
.search input{
    outline: none;
    border: none;
    padding-left: 1px;
    width: 100%;
  }
  .search input:focus{
    outline: none;
  }
  
  .ico-mglass {
      margin-left:auto;
    opacity: 0.7;
    width: 20px;
  }
.Flex-container {
    display: flex;
}

.flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.column {
    flex-direction: column;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-l-auto {
    margin-left: auto;
}

.m-r-auto {
    margin-right: auto;
}

.center {
    align-items: center;
    justify-content: center;
}

.Flex-wrap {
    flex-flow: wrap;
    justify-content: space-evenly;

}

.Shopping-cart {
    position: fixed;
    bottom: 0;
    right: 0;
    width: fit-content;
    margin-right: 70px;
    margin-bottom: 40px;
    background-color: rgba(247, 58, 58, 0.979);
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.m-l-10 {
    margin-left: 10px;
}
.m-10{
    margin: 10px;
}
.m-r-10 {
    margin-right: 10px;
}

.m-l-2 {
    margin-left: 2px;
}

.m-r-2 {
    margin-right: 2px;
}

.w-max-content {
    width: max-content;
}

.flex-space {
    justify-content: space-between;
}

.btn-primary {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375 rem 0.75 rem;
    font-size: 1rem;
    border-radius: 0.25 rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.Shopping-cart a {
    color: white;
}

.bottom {
    margin-top: auto
}

.card-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}

.loader {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
    transition: opacity 0.3s;
}

.number-circle {
    border-radius: 50%;
    background-color: #0d6efd;
    color: white;
    padding: 0.25em;

    /* Center the text contents */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 80px;
    top: -10px;
    min-width: 30px;
    min-height: 30px;
}

.number-circle:after {
    content: '';
    display: block;

    /* Ensure the element is a square */
    height: 0;
    width: 100%;
    padding-bottom: 100%;
}

.number-circle div {
    overflow: visible;
    height: 0;
    margin-top: -1.15em;
    font-size: 0.7em;
}

.App-link {}
.flex-row{
    flex-direction: row;
}
.heightMin{
    min-height: 100vh;
}
.footer{
    height: 200px;
    background-color: #212529;
}
.off{
    opacity: 0.4;
}
.opacity1{
    opacity: 1;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    ul {
      flex-direction: column;
    }
    .Shopping-cart{
        bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
    }
    .flex{
        flex-direction: column;
    }
    .form{
        width: 100%;
    }
  }